@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #FF3811;
}

.active-link{
    color: #FF3811;
    font-weight: bold;
    border-bottom: 2px solid;
    border-radius: 0;
}